{% extends "resto/base.html" %}
{% load static %}
{% block title %}Customer Dashboard{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<style>
    body{
        {% comment %} background-color: #343c40; {% endcomment %}
        background-image: url("{% static 'resto/images/customerdashboard.jpg'%}");
        
        
    }
    .dashboard-container {
        text-align: center;
        background-image: url("{% static 'resto/images/custbackgroundddd.jpg' %}");
        background-size: cover;
        background-position: center;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        color: #ffffff;
        font-family: var(--bs-font-sans-serif);
    }
    .dashboard-container h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #FFFF00;
        font-family: 'Oswald', sans-serif;
        text-shadow: 2px 2px 4px #000000;
    }
    .dashboard-container p {
        font-size: 1.5rem;
        margin-bottom: 40px;
        color: #ffffff;
        
        font-family: "Times New Roman", Times, serif;
        text-shadow: 2px 2px 4px #000000;
    }
    .dashboard-container a {
        display: inline-block;
        margin: 10px 20px;
        padding: 15px 30px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #feead8;
        background-color: #0d0441;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        text-shadow: 1px 1px 2px #000000;
    }
    .dashboard-container a:hover {
        background-color: #feead8;
        color: #005b28;
    }
    .order-links {
        margin-top: 30px;
    }
    .reservations-list {
        margin-top: 20px;
        text-align: left;
    }
    .reservations-list ul {
        list-style-type: none;
        padding: 0;
    }
    .reservations-list li {
        background-color: rgba(255, 255, 255, 0.8);
        color: #000000;
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
    }
    .coin-info {
        position: absolute;
        top: 80px;
        right: 50px;
        text-align: right;
    }
    .coin-info1 {
        position: absolute;
        top: 100px;
        right: 2px;
        text-align: right;
        
    }
    
    .coin-info p {
        margin: 0;
        font-size: 1.2rem;
        color: #FFFF00;
        font-family: 'Oswald', sans-serif;
        text-shadow: 2px 2px 4px #000000;
    }

    .coin-info1 a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 1rem;
        color: #feead8;
        background-color: #0d0441;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        text-shadow: 1px 1px 2px #000000;
        background-color:green;
    }
    .coin-info1 a:hover {
        background-color: #feead8;
        color: #005b28;
    }
</style>
{% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

<div class="dashboard-container">
    <div class="coin-info">
        <p><img src="{% static 'resto/images/coin.png' %}" alt="Coins" style="width: 25px; height: 25px;"> {{ total_coins}} </p></div>
    <div class="coin-info1">    <a href="{% url 'redeem_gift' %}">Redeem Gift</a> 
    </div>
    <h1>Welcome, {{ user.first_name }}!</h1>
    <p>Here you can place orders, make reservations, and view your reservations.</p>
    <a href="{% url 'place_order' %}">Place Order</a>
    <a href="{% url 'reserve_table' %}">Reserve Table</a>
    <div class="order-links">
        <a href="{% url 'cust_active_orders' %}">Active Orders</a>
        <a href="{% url 'completed_orders' %}">Completed Orders</a>
        <a href="{% url 'reservation_cust' %}">Reservations</a><br>
        <a href="{% url 'get_recommendations' user_id=user.id %}" class="btn btn-primary" style="background: orange;">Get Personalized Offers</a>
        
    </div>

</div>
{% endblock %}
