{% extends "resto/base.html" %}
{% load static %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<div class="container mt-5">
    <div class="alert alert-success text-center">
        <h2 class="display-4" style="color:#36404c">🎉 Congratulations!</h2>
        <p class="lead">
            You have successfully redeemed 100 coins for a free gift! 🎁
            <br>
            You can receive your gift from the counter. Enjoy your reward!
        </p>
        <div class="code-box">
            <p>Your Redeem Code: <strong>{{ redeem_code }}</strong></p>
            <p>Use this code when placing your order to receive a free gift!</p>
            
        </div>
        <img src="{% static 'resto/images/membershipcard.png' %}" alt="Membership Card" class="img-fluid mt-4 mb-4">
        <a href="{% url 'customer_dashboard' %}" class="btn btn-primary btn-lg">Back to Dashboard</a>
    </div>
</div>

<style>
    body{
        background-image: url('{%static 'resto/images/congratulations.jpg'%}');
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }
    h2.display-4{
        color: white; 
    }
    .alert {
        background-color: #feead8;
        border-color: #e2e3e5;
        color: #343a40;
        border-radius: 0.375rem;
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .alert h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        color: #28a745;
        margin-bottom: 1rem;
        text-shadow: 2px 2px 4px #000000;
    }

    .alert p {
        font-size: 1.25rem;
        color: #343a40;
        margin-bottom: 1rem;
        font-family: 'Lobster', cursive;
    }

    .code-box {
        font-size: 1.5rem;
        color: #155724;
        margin: 1.5rem 0;
        padding: 1rem;
        background-color: #d4edda;
        border: 1px dashed #c3e6cb;
        border-radius: 0.375rem;
        font-family: 'Georgia', Courier, monospace;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        border: 1px solid #dee2e6;
        border-radius: 0.375rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .btn-primary {
        background-color: #0056b3;
        border-color: #004085;
        font-size: 1.2rem;
        padding: 0.75rem 1.5rem;
        border-radius: 0.375rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn-primary:hover {
        background-color: #004085;
        border-color: #003d7a;
    }
</style>
{% endblock %}
