{% extends "resto/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-success text-white">
            <h2 class="display-4">🎁 Redeem Your Gift</h2>
        </div>
        <div class="card-body text-center">
            <p class="lead">
                You are about to redeem 50 coins for a special gift!
            </p>
            <p>
                Click the button below to confirm your redemption and get your unique redeem code.
            </p>
            <a href="{% url 'confirm_redeem_gift' %}" class="btn btn-primary btn-lg">Redeem Now</a>
        </div>
    </div>
</div>

<style>
    body {
        background-color:#343a40;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }

    .card {
        border-radius: 0.5rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card-header {
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
        text-shadow: 2px 2px 4px #000000;
    }

    .card-body {
        font-size: 1.25rem;
        color: #343a40;
        margin-bottom: 1rem;
        font-family: 'Lobster', cursive;
    }

    .btn-primary {
        background-color: #28a745;
        border-color: #218838;
        font-size: 1.2rem;
        padding: 0.75rem 1.5rem;
        border-radius: 0.375rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn-primary:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
</style>
{% endblock %}
